USE [master]
GO
/****** Object:  Database [PRJ-BL5_DB]    Script Date: 8/16/2022 11:43:57 PM ******/
CREATE DATABASE [PRJ-BL5_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'D:\QLNS\DB\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'D:\QLNS\DB\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ-BL5_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ-BL5_DB]
GO
/****** Object:  Table [dbo].[tblChamCong]    Script Date: 8/16/2022 11:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChamCong](
	[MACONG] [nvarchar](150) NOT NULL,
	[THANG] [int] NULL,
	[MaNV] [nvarchar](150) NULL,
	[SoNgayLamViec] [int] NULL,
	[SoGioLamViec] [int] NULL,
	[HSL] [float] NULL,
	[TienThuong] [float] NULL,
 CONSTRAINT [PK_tblChamCong] PRIMARY KEY CLUSTERED 
(
	[MACONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHSL]    Script Date: 8/16/2022 11:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHSL](
	[MaHSL] [nvarchar](150) NOT NULL,
	[HSL] [float] NOT NULL,
 CONSTRAINT [PK_tblHSL] PRIMARY KEY CLUSTERED 
(
	[MaHSL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhuCap]    Script Date: 8/16/2022 11:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhuCap](
	[MaPhuCap] [nvarchar](10) NOT NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tblPhuCap] PRIMARY KEY CLUSTERED 
(
	[MaPhuCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThongTin]    Script Date: 8/16/2022 11:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThongTin](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](150) NOT NULL,
	[TrinhDo] [nvarchar](150) NOT NULL,
	[MaHSL] [nvarchar](150) NULL,
	[MaPhuCap] [nvarchar](150) NULL,
	[MaThuong] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblThongTin] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThuong]    Script Date: 8/16/2022 11:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThuong](
	[MaThuong] [nvarchar](150) NOT NULL,
	[TienThuong] [nchar](10) NULL,
 CONSTRAINT [PK_tblThuong] PRIMARY KEY CLUSTERED 
(
	[MaThuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
